<div class="outlets-wrap" ng-controller = "SparkCtrl" ng-init = "loadSpark(selectedBar)">
<md-progress-circular id="login-load" ng-if="dataLoading"  md-mode="indeterminate" md-diameter="30"></md-progress-circular>
	<md-content ng-if = "!bars[selectedBar].connected && !dataLoading">
		<h2>There was an error, please check if the device is online</h2>
	</md-content>
	<main>
	<div ng-if = "bars[selectedBar].connected && !dataLoading">
		<div layout = "row" flex>
		<h1>{{bars[selectedBar].name}}</h1>
					<div >
			          <md-select  class="change-bar" ng-model="barSelection" placeholder="Change Device">
			            <md-option ng-value="$index" ng-repeat="bar in bars">{{ bar.name }}</md-option>
			          </md-select>
			           <md-button class = "md-primary" ng-click = "setBar(barSelection)">Save</md-button>
			    	</div>
		</div>


	    <md-content>
        <nvd3-stacked-area-chart
            data="datat"
            id="exampleId"
            height="300"
            showXAxis="true"
            showYAxis="true"
            showLegend="true"
            tooltips="true"
            interactive="true"
            useInteractiveGuideline="true"
            toolTipContent="toolTipContentFunction()"
            xAxisTickFormat="xAxisTickFormat()">
        	<svg></svg>
		</nvd3-stacked-area-chart>

		
	    <md-divider></md-divider>
	    <div layout = "column">
	    	<div class="">
				<div class="" layout="column" layout-fill layout-align="space-around center">
					<div ng-bind="bars[selectedBar].content"></div>
					<div class="switches" layout="row">
						<md-switch class="md-primary md-hue-2" ng-model="bars[selectedBar].relayStatus[0]" aria-label="Switch 1" ng-change="outletSwitch(1, bars[selectedBar].relayStatus[0], bars[selectedBar].id)">
						<span>Outlet 1</span>
						</md-switch>
						<md-switch class="md-primary md-hue-3" ng-model="bars[selectedBar].relayStatus[1]" aria-label="Switch 2" ng-change="outletSwitch(2, bars[selectedBar].relayStatus[1], bars[selectedBar].id)">
						<span>Outlet 2</span>
						</md-switch>
						<md-switch class="md-accent md-hue-2 " ng-model="bars[selectedBar].relayStatus[2]" aria-label="Switch 3" ng-change="outletSwitch(3, bars[selectedBar].relayStatus[2], bars[selectedBar].id)">
						<span>Outlet 3</span>
						</md-switch>
						<md-switch class=" md-accent md-hue-1" ng-model="bars[selectedBar].relayStatus[3]" aria-label="Switch 4" ng-change="outletSwitch(4, bars[selectedBar].relayStatus[3], bars[selectedBar].id)">
						<span>Outlet 4</span>
						</md-switch>
					</div>
				</div>
			</div>

		    <div class="">
			    <div class="outlet-content">
			    <div layout="row" layout-wrap>
			      <div flex><h2 class="md-primary-color">Energy Consumption:</h2></div>
			    </div>
			      <div layout="row" layout-wrap>  
			        <div flex="70">
			            <h4>Currently <br> Consuming:</h4>
			            <div layout = "row">
			              <h1>{{totalPower | setDecimal:2}}</h1><h2 class = "unit-main">W</h2>
			            </div>
			        </div>
			      </div>        
			          <md-divider></md-divider>
			          <div layout="row" layout-wrap>
			            <div flex = "50">
			              <h4>Last hour:</h4>
			              <div layout = "row">
			                <h2>{{sumData(data1,hr,0.001) + sumData(data2,hr,0.001) + sumData(data3,hr,0.001) + sumData(data4,hr,0.001) | setDecimal:2}}</h2><div flex = "5"></div><h2 class = "unit">W</h2>
			              </div>
			            </div>
			            <div class="vertical-divider"></div>
			            <div flex>
			              <h4>30 day average:</h4>
			              <div layout = "row">
			                <h2>{{sumData(data1,month,0.001) + sumData(data2,month,0.001) + sumData(data3,month,0.001) + sumData(data4,month,0.001) | setDecimal:2}}</h2><div flex = "5"></div><h2 class = "unit">W</h2>
			              </div>
			            </div>
			          </div>
			          <md-divider></md-divider>
			        </div>
		    </div>
	    </div>



	</div>
	</md-content>
	</main>
</div>